.C_ListItem {
	line-height: 34px;
    padding: 5px 10px;
    position: relative;
    display: block;
    overflow: hidden;
}

.C_ListItem:not(:first-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-top: 1px solid #dbdbdb;
}